@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@1,100;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: white;
}

html::-webkit-scrollbar-thumb{
    background-color: green;
}

section{
    padding: 5rem 10%;
}

@keyframes fadeIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

.heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color: white;
}

.btn{
    display: inline-block;
    background: burlywood;
    margin-top: 1rem;
    color: white;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

.btn:hover{
    background: darkolivegreen;
}



.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: black;
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: white;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow:0.5rem 1rem rgba(0,0,0,.1);
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color: green;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: black;
}

.header .navbar a:hover{
    color: darkolivegreen;

}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: black;
    display: none;
}

.home{
    padding: 0;

}

.home .swiper-slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: cover !important;
    min-height: 60rem;
}

.home .swiper-slide .content{
    width: 85rem;
    display: none;
}

.home .swiper-slide-active .content{
    display: inline-block;
}

.home .swiper-slide .content span{
    display: block;
    font-size: 2.2rem;
    color: whitesmoke;
    padding-bottom: 1rem;
    animation: .2s linear backwards .2s;
}

.home .swiper-slide .content h3{
    font-size: 4vw;
    color: white;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 0 1.5rem 3rem black;
    padding: 1rem 0;
    animation: fadeIn .2s  linear backwards .4s;
}


.home .swiper-slide .content .btn{
    animation: fadeIn .2s linear backwards .6s;
}

.home .swiper-button-next,
      .swiper-button-prev{
            top:inherit;
            left: inherit;
            bottom: 0;
            right: 0;
            height: 7rem;
            width: 7rem;
            background: white;
            color: black;
      }
.home .swiper-button-next:hover,
        .swiper-button-prev:hover{
    background: darkolivegreen;
    color: white;
}

.home .swiper-button-next::after,
      .swiper-button-prev::after{
        font-size: 2rem;
      }
.home .swiper-button-prev{
    right: 7rem;
}

.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image{
    flex:1 1 41rem;
}

.home-about .image img{
    width: 100%;
}

.home-about .content{
    flex: 1 1 41rem;
    padding: 3rem;
    background: whitesmoke;
}

.home-about .content h3{
    font-size: 3rem;
    color: black;
}

.home-about .content p{
    font-size: 1.5rem;
    padding: 1rem;
    color: black;
    line-height: 2;
}

.home-packages{
    background: whitesmoke;
}

.home-packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.home-packages .box-container .box{
    border:.1rem solid black;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    background: white;
}

.home-packages .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}

.home-packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.home-packages .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.home-packages .box-container .box .content h3{
    font-size: 2.5rem;
    color: black;
}

.home-packages .box-container .box .content p{
    font-size: 1.5rem;
    color: darkolivegreen;
    line-height: 2;
    padding: 1rem 0;
}

.home-packages .load-more{
    text-align: center;
    margin-top: 2rem;
}

.home-offer{
    text-align: center;
}

.home-offer .content{
    max-width: 70rem;
    margin: 0 auto;
}

.home-offer .content h3{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: black;
}


.home-offer .content p{
    font-size: 1.5rem;
    color: black;
    line-height: 2;
    padding: 1rem 0;
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .image{
    flex: 1 1 41rem;
}

.about .image img{
    width: 100%;
}

.about .content{
    flex: 1 1 41rem;
    text-align: center;
}

.about .content h3{
    font-size: 3rem;
    color: black;
}


.about .content p{
    font-size: 1.5rem;
    color: black;
    line-height: 2;
    padding: 1rem 0;
}

.about .content .icons-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}

.about .content .icons-container .icons{
    background: bisque;
    padding: 2rem;
    flex: 1 1 16rem;
}

.about .content .icons-container .icons i{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: darkolivegreen;
}

.about .content .icons-container .icons span{
    font-size: 1.5rem;
    color: black;
    
}


.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background-color: darkolivegreen;
}

.services .box-container .box:hover{
    background-color: bisque;
    cursor: pointer;
}

.services .box-container .box img{
    height: 7rem;
}

.services .box-container .box h3{
    color: peru;
    font-size: 1.7rem;
    padding-top: 1rem;
}




.footer{
    background-color: burlywood;
    background-size: cover;
    background-position: center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3{
    color: white;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.footer .box-container .box a{
    color: black;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i{
    color: green;
    padding: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top:  .1rem solid white;
    font-size: 2rem;
    color: whitesmoke;
}

.footer .credit span{
    color: green;
}






/* media queries */
@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }

    .home .swiper-slide .content h3{
        font-size: 10vh;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: white;
        border-top: .1rem solid black;
        padding: 2rem;
        transition: .2s linear;
    }

    .header .navbar a{
       display: block;
       margin: 2rem;
       text-align: center;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading-title{
        font-size: 3.5rem;
    }
}

